<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>Servlet.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEvent</servlet-name>
        <servlet-class>Servlet.SearchEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>toCluster</servlet-name>
        <servlet-class>Servlet.toCluster</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>toHome</servlet-name>
        <servlet-class>Servlet.toHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>toUserPage</servlet-name>
        <servlet-class>Servlet.toUserPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateEvent</servlet-name>
        <servlet-class>Servlet.CreateEvent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEvent</servlet-name>
        <url-pattern>/SearchEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>toCluster</servlet-name>
        <url-pattern>/Cluster</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>toHome</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>toUserPage</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateEvent</servlet-name>
        <url-pattern>/CreateEvent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
