/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 5, 2015, 1:54:32 PM
    Author     : Arren Antioquia
*/

html, body{
    margin: 0;
}

#cluster-main-panel{
    width: 85%;
    min-width: 950px;
    margin: auto;
    position: relative;
    top: 50px;
}

#cluster-info-panel{
    background-color: white;
    width: 24%;
    float: left;
    border: 1px solid #DCDCDC;
    border-radius: 6px;
}

#cluster-name-div{
    text-align: center;
    background-color: #AD0000;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#cluster-name{
    font-family: sans-serif;
    font-size: 25px;
    color: white;
    display: inline;
}

#cluster-members-list{
    font-size: 0;
    margin-top: 8px;
}

.cluster-member{
    width: 60px;
    height: 60px;
    overflow: hidden;
    background-color: red;
    display: inline-block;
    margin: 0 0 8px 8px;
    position: relative;
}

.delete-cluster-member-form{
    position: absolute;
    right: 0;
    z-index: 1; 
}

.cluster-member-img{
    position: absolute;
}

#cluster-post-panel{
    margin-left: 0.5%;
    width: 49.5%;
    float: left;
}

.post-div{
    //height: 200px;
    font-size: 0;
    background-color: white;
    border: 1px solid #DCDCDC;
    border-radius: 6px;
    margin-bottom: 6px;
}

.post-container{
    margin: 6px;
    min-width: 100%;
}

.post-poster-img{
    border-radius: 6px;
    display: inline-block;
}

.post-div-header{
    display: inline-block;
    position: absolute;
    margin-top: 2px;
    margin-left: 5px;
}

.post-poster-name, .post-event-name, .post-text{
    margin-top: 0;
    font-family: sans-serif;
}

.post-poster-name{
    color: #AD0000;
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 15px;
}

.post-event-name{
    color: gray;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
}

.post-text{
    word-wrap: break-word;
    margin-bottom: 0;
    font-size: 14px;
}

#post-no-post-container-div{
    margin: 20px;
}

#post-no-post-img{
    display: block;
    margin: 0 auto;
}

#post-no-post-text{
    text-align: center;
    margin-top: 20px;
    
    font-family: sans-serif;
    font-size: 30px;
    color: gray;
}

#cluster-other-panel{
    margin-left: 0.5%;
    width: 25%;
    float: left;
}

#cluster-other-event-panel, #cluster-other-addmember-panel{
    background-color: white;
    border: 1px solid #DCDCDC;
    border-radius: 6px;
}

#cluster-other-addmember-panel{
    margin-top: 3px;
}

#event-tag-div, #addmember-tag-div{
    margin-top: 5px;
    border-bottom: 1px solid #DCDCDC;
}

#event-tag, #addmember-tag{
    font-family: sans-serif;
    font-size: 18px;
    color: #AD0000;
    margin-left: 5px;
    display: inline;
}

#cluster-event-list{
    margin-top: 5px;
    margin-bottom: 5px;
}

.cluster-event-item{
    margin-left: 6px;
    margin-bottom: 4px;
    font-size: 0;
}

.cluster-event-pic{
    display: inline;
}

.cluster-event-info-div{
    display: inline-block;
    position: absolute;
    margin-top: 3px;
    margin-left: 5px;
}

.cluster-name-link{
    color: #AD0000;
    text-decoration: none;
}

.cluster-name-link:hover{
    text-decoration: underline;
}

.cluster-event-name, .cluster-event-info{
    margin: 0;
    font-family: sans-serif;
}

.cluster-event-name{
    color: #AD0000;
    font-weight: 600;
    font-size: 15px;
}

.cluster-event-info{
    color: #DCDCDC;
    font-size: 12px;
    margin-top: 2px;
}

#addmember-form{
    
    margin-top: 5px;
    margin-left: 5px;
    
}

#cluster-addmember-list{
    height: 80px;
    overflow-y: auto;
}

.new-member-item{
    font-family: sans-serif;
    font-size: 15px;
}

#addmember-submit-button{
    font-size: 12px;
    width: 95%;
    background-color: #AD0000;
    border: 1px solid #AD0000;
    color: white;
    
    margin: 5px 0 5px 4px;
    border-radius: 4px;
}

#addmember-submit-button:hover{
    color: #AD0000;
    background-color: white;
    border: 1px solid #AD0000;
    cursor: pointer;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}