/*	HTML	*/
html, body{
    margin: 0;
}

/*	BACKGROUND	*/
#background{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

#backgroundImage{
    position: fixed; 
    top: 0; 
    left: 0; 

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

/*	HEADER */
#header{
    height: 55px;
    width: 100%;
    min-width: 1100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #940000;
}

#headerElements{
    width: 95%;
    height: inherit;
    min-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

#logIn{
    position: absolute;
    right: 50px;
    top: 15px;
}

#logInButton{
    margin: 0;
    background-color: #AD0000;
    color: white;
    font-weight: 700;
    border: 1px solid #CC0000;
}


/*	WELCOME	*/
#welcomeDiv{
    width: 620px;
    position: absolute;
    left: 50px;
    top: 250px;
}

.welcomeMessage{
    color: white;
}

#welcomeCirca{
    font-family: sans-serif;
    font-weight: 700;
    text-shadow: 3px 3px 0 red,
        -3px -3px 0 gray;
    font-size: 75px;
    letter-spacing: -2px;
    margin: 0 0 10px 0;
}

#welcomeQuote{
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: 100;
    margin: 0;
    line-height: 30px;
    text-shadow: 1px 1px 2px black;
}

#signUpButton{
    position: relative;
    top: 10px;
    width: 90px;
    height: 30px;
    margin: 0;
}

#signUpButton:hover{
    background-color: transparent;
    border: 2px solid white;
}

.clickableButton{
    background-color: #AD0000;
    border: 2px solid #AD0000;
    color: white;
    font-weight: 700;
    font-size: 16px;
}

.clickableButton:hover{
    cursor: pointer;
}


/*	SignUp   */
#signUpDiv{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.centeredSignUp{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;    
}

#signUpCircaLabel{
    bottom: 290px;
    width: 230px; /* center via margin auto can't work without width and height*/
    height: 85px;

    font-family: sans-serif;
    color: white;
    font-weight: 700;
    text-shadow: 3px 3px 0 red,
        -3px -3px 0 gray;
    font-size: 100px;
    letter-spacing: -2px;
}

#signUpCircaLabel:hover{
    cursor: pointer;
}

#signUpForm{
    width: 350px;
    height: 161px;
}

#signUpForm{
    font-size: 0;
}

.signUpNameFields, .signUpOtherFields{
    position: relative;
    width: inherit;
    height: 35px;
    border: 1px solid #BCBCB3;
    padding-left: 10px;
}

.signUpNameFields{
    width: 50%;
}

.signUpOtherFields{
    width: 100%;
}

.signUpNameFields:hover, .signUpOtherFields:hover{
    border: lightgreen 2px solid;
}

#signUpForCircaButton{
    width: 100%;
    height: 35px;
    position: relative;
    top: 7px;
}

a{
    text-decoration: none;
    color: white;
}